body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('./bg.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  
  .signup-form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
  }
  
  .signup-logo {
    width: 60px;
    margin-bottom: 20px;
  }
  
  .signup-title {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .signup-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .signup-button {
    background-color: #4b0082;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
  }
  
  .signin-link {
    margin-top: 20px;
    font-size: 14px;
  }
  
  .signin-link a {
    color: #4b0082;
    text-decoration: none;
  }
  
  .signin-link a:hover {
    text-decoration: underline;
  }
  